* {
  border: 0;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

.about {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.about__img {
  width: 100%;
}

.about__more-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .about {
    text-align: center;
  }

}

.wrapper {
  display: block;
  width: 400px;
  margin: 0 auto 0;
}

.add-item {
  margin-top: 24px;
  margin-bottom: 24px;
}

.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add-item__title {
  margin-bottom: 20px;
}

.task__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.task__item > * {
  vertical-align: middle;
}

.checkbox {
  margin: 0 10px;
}

.task-name-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  width: 224px;
  display: none;

}

.add-item .task-name-input {
  display: inline-block;
}

.edit-mode .task-name-input {
  display: inline-block;
  width: 204px;
}

.user-added .task-name-input {
  margin-right: 2px;
  margin-left: 2px;
}

.task-name-input:focus {
  color: #333;
}

.task-name {
  display: inline-block;
  overflow: hidden;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 224px;
}

.add-item__task-name {
  width: 324px;
}

.edit-mode .task-name {
  display: none;
}

.completed__task-items .task-name {
  text-decoration: line-through;
  color: #888;
}

.user-added .task-name {
  margin-right: 2px;
  margin-left: 2px;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.user-added .button_edit {
  margin-right: 5px;
  margin-left: 5px;
}

.button:hover {
  color: #3a3a3a;
}

.button_add:hover {
  color: #0fc57c;
}

.button_del:hover {
  color: #cf2323;
}

.del__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.del__img:hover {
  transform: rotateZ(0);
}
